pbr>2.1.0 # Apache 2.0
git+https://github.com/albertodonato/snap-helpers#egg=snap-helpers # LGPLv3
click>=8.1.3 # BSD
rich # MIT
#juju # Apache 2
git+https://github.com/wolsen/python-libjuju@update-3.0-schema#egg=juju

# Used for communication with snapd socket
requests # Apache 2
requests-unixsocket # Apache 2

pydantic # MIT
semver # BSD-3

#git+https://github.com/openstack-charmers/zaza.git#egg=zaza
